.renewButton {
    /* 1 */
    display: inline-block;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    /* 2 */
    border: none;
    /* 3 */
    line-height: 28px;
    /* 4 */
    min-height: 30px;
    /* 5 */
    font-size: 1rem;
    /* 6 */
    padding: 0 12px;
    background: #f7f7f7;
    color: #444444;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.3);
    background-origin: border-box;
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    border-radius: 4px;
    text-shadow: 0 1px 0 #ffffff;
} 

.renewButton.smallSize {
    min-height: 25px;
    padding: 0 10px;  
    line-height: 23px;
    font-size: 12px;
}

.renewButton.largeSize {
    min-height: 40px;
    padding: 0 15px; 
    line-height: 38px;
    font-size: 16px; 
}


.renewButton:hover:not(:disabled),
.renewButton:focus:not(:disabled) {
    background-color: #fafafa;
    color: #444444;
    /* 2 */
    outline: none;
    /* 3 */
    text-decoration: none;
    background-image: none;
}

.renewButton:active:not(:disabled),
.renewButton.buttonPressed:not(:disabled) {
    background-color: #f5f5f5;
    color: #444444;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.3);
    background-image: none;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.1);
}


.renewButton.showPrimary {
    background-color: #009dd8;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
    background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.renewButton.showPrimary:hover:not(:disabled),
.renewButton.showPrimary:focus:not(:disabled) {
    background-color: #00aff2;
    color: #ffffff;
    background-image: none;
}

.renewButton.showPrimary:active:not(:disabled),
.renewButton.showPrimary.buttonPressed:not(:disabled) {
    background-color: #008abf;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.renewButton.showSuccess {
    background-color: #82bb42;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #9fd256, #6fac34);
    background-image: linear-gradient(to bottom, #9fd256, #6fac34);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.renewButton.showSuccess:hover:not(:disabled),
.renewButton.showSuccess:focus:not(:disabled) {
    background-color: #8fce48;
    color: #ffffff;
    background-image: none;
}
.renewButton.showSuccess:active:not(:disabled),
.renewButton.showSuccess.buttonPressed:not(:disabled) {
    background-color: #76b430;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.renewButton.showError {
    background-color: #d32c46;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ee465a, #c11a39);
    background-image: linear-gradient(to bottom, #ee465a, #c11a39);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.renewButton.showError:hover:not(:disabled),
.renewButton.showError:focus:not(:disabled) {
    background-color: #e33551;
    color: #ffffff;
    background-image: none;
}
.renewButton.showError:active:not(:disabled),
.renewButton.showError.buttonPressed:not(:disabled) {
    background-color: #c91c37;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}
.renewButton:disabled {
    background-color: #fafafa;
    color: #999999;
    border-color: rgba(0, 0, 0, 0.2);
    background-image: none;
    box-shadow: none;
    text-shadow: 0 1px 0 #ffffff;
}

.buttonGroup { 
    /* Behave like buttons */
    display: inline-block;
    vertical-align: middle;
    /* Create position context for dropdowns */
    position: relative;
    /* Remove whitespace between child elements when using `inline-block` */
    font-size: 0;
    /* Prevent buttons from wrapping */
    white-space: nowrap;
}
.buttonGroup > * {
    display: inline-block;
    vertical-align: top;
}

.buttonGroup > .renewButton:not(:first-child):not(:last-child),
.buttonGroup > :not(:first-child):not(:last-child) .renewButton {
    border-radius: 0;
}
.buttonGroup > .renewButton:first-child,
.buttonGroup > :first-child .renewButton {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.buttonGroup > .renewButton:last-child,
.buttonGroup > :last-child .renewButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.buttonGroup > .renewButton:nth-child(n+2),
.buttonGroup > :nth-child(n+2) .renewButton,
.buttonGroup > :nth-child(n+2) .renewButton {
    margin-left: -1px;
}
.buttonGroup .renewButton:active {
    position: relative;
}

.tableContentFit td,
.tableContentFit th {
    white-space:nowrap;
}
.tableContentFit td:last-child, 
.tableContentFit th:last-child {
    width:100%;
} 
.tableStriped td,
.tableStriped th{  
    border-bottom: 1px solid #dddddd;
}
.tableStriped tbody tr:nth-of-type(odd) {
    background: #fafafa;
}
.tableHighlight tbody tr:hover {
    background: #f0f0f0;
} 

.browseFileTransparently {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}

.browseFileTransparently input[type="file"] {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0; /* 파이어폭스 브라우저를 위한 속성*/
    font-size: 50px; /* 커서 포인터를 위한 속성*/
}

textarea.renewText, 
input[type="text"].renewText,
input[type="password"].renewText,
input[type="email"].renewText,
input[type="url"].renewText,
input[type="search"].renewText,
input[type="tel"].renewText{
    -webkit-appearance: none
}
select.renewSelect,
textarea.renewText, 
input[type="text"].renewText,
input[type="password"].renewText,
input[type="search"].renewText,
input[type="datetime"].renewDate,
input[type="datetime-local"].renewDate,
input[type="date"].renewDate,
input[type="month"].renewDate,
input[type="time"].renewDate,
input[type="week"].renewDate,
input[type="number"].renewNumber,
input[type="email"].renewText,
input[type="url"].renewText,
input[type="tel"].renewText,
input[type="color"].renewText{
    height:30px;
    max-width:100%;
    padding:4px 6px;
    border:1px solid #ddd;
    background:#fff;
    color:#444;
    -webkit-transition:all linear 0.2s;
    transition:all linear 0.2s;
    border-radius:4px;
}
select.renewSelect:focus,
textarea.renewText:focus, 
input[type="text"].renewText:focus,
input[type="password"].renewText:focus,
input[type="search"].renewText:focus,
input[type="datetime"].renewDate:focus,
input[type="datetime-local"].renewDate:focus,
input[type="date"].renewDate:focus,
input[type="month"].renewDate:focus,
input[type="time"].renewDate:focus,
input[type="week"].renewDate:focus,
input[type="number"].renewNumber:focus,
input[type="email"].renewText:focus,
input[type="url"].renewText:focus,
input[type="tel"].renewText:focus,
input[type="color"].renewText:focus{
    border-color:#99baca;
    outline:0;
    background:#f5fbfe;
    color:#444;
}
select.renewSelect:disabled,
textarea.renewText:disabled, 
input[type="text"].renewText:disabled,
input[type="password"].renewText:disabled,
input[type="search"].renewText:disabled,
input[type="datetime"].renewDate:disabled,
input[type="datetime-local"].renewDate:disabled,
input[type="date"].renewDate:disabled,
input[type="month"].renewDate:disabled,
input[type="time"].renewDate:disabled,
input[type="week"].renewDate:disabled,
input[type="number"].renewNumber:disabled,
input[type="email"].renewText:disabled,
input[type="url"].renewText:disabled,
input[type="tel"].renewText:disabled,
input[type="color"].renewText:disabled{
    border-color:#ddd;
    background-color:#fafafa;
    color:#999;
}

select.renewSelect.smallSize,
textarea.renewText.smallSize, 
input[type="text"].renewText.smallSize,
input[type="password"].renewText.smallSize,
input[type="search"].renewText.smallSize,
input[type="datetime"].renewDate.smallSize,
input[type="datetime-local"].renewDate.smallSize,
input[type="date"].renewDate.smallSize,
input[type="month"].renewDate.smallSize,
input[type="time"].renewDate.smallSize,
input[type="week"].renewDate.smallSize,
input[type="number"].renewNumber.smallSize,
input[type="email"].renewText.smallSize,
input[type="url"].renewText.smallSize,
input[type="tel"].renewText.smallSize,
input[type="color"].renewText.smallSize{
    height:25px;
    padding:3px 3px;
    font-size:12px;
}
select.renewSelect.largeSize,
textarea.renewText.largeSize, 
input[type="text"].renewText.largeSize,
input[type="password"].renewText.largeSize,
input[type="search"].renewText.largeSize,
input[type="datetime"].renewDate.largeSize,
input[type="datetime-local"].renewDate.largeSize,
input[type="date"].renewDate.largeSize,
input[type="month"].renewDate.largeSize,
input[type="time"].renewDate.largeSize,
input[type="week"].renewDate.largeSize,
input[type="number"].renewNumber.largeSize,
input[type="email"].renewText.largeSize,
input[type="url"].renewText.largeSize,
input[type="tel"].renewText.largeSize,
input[type="color"].renewText.largeSize{
    height:40px;
    padding:8px 6px;
    font-size:16px;
}
select.renewSelect.showError,
textarea.renewText.showError, 
input[type="text"].renewText.showError,
input[type="password"].renewText.showError,
input[type="search"].renewText.showError,
input[type="datetime"].renewDate.showError,
input[type="datetime-local"].renewDate.showError,
input[type="date"].renewDate.showError,
input[type="month"].renewDate.showError,
input[type="time"].renewDate.showError,
input[type="week"].renewDate.showError,
input[type="number"].renewNumber.showError,
input[type="email"].renewText.showError,
input[type="url"].renewText.showError,
input[type="tel"].renewText.showError,
input[type="color"].renewText.showError{
    border-color:#dc8d99 !important;
    background:#fff7f8 !important;
    color:#c91032 !important;
}
select.renewSelect.showSuccess,
textarea.renewText.showSuccess, 
input[type="text"].renewText.showSuccess,
input[type="password"].renewText.showSuccess,
input[type="search"].renewText.showSuccess,
input[type="datetime"].renewDate.showSuccess,
input[type="datetime-local"].renewDate.showSuccess,
input[type="date"].renewDate.showSuccess,
input[type="month"].renewDate.showSuccess,
input[type="time"].renewDate.showSuccess,
input[type="week"].renewDate.showSuccess,
input[type="number"].renewNumber.showSuccess,
input[type="email"].renewText.showSuccess,
input[type="url"].renewText.showSuccess,
input[type="tel"].renewText.showSuccess,
input[type="color"].renewText.showSuccess{
    border-color:#8ec73b !important;
    background:#fafff2 !important;
    color:#539022 !important;
}

.renewSelect  {
    display: inline-block;  
    min-width: 120px; 
    position: relative;
}

.renewSelect select {
    display: none;
} 

.renewSelect .renewButton { 
    width: 100%;
}

.renewSelect .renewButton:before, 
.renewSelect .renewButton:after {
    content: " ";
    display:table
}

.renewSelect .renewButton:after {
    clear:both
}

.renewSelect .renewButton > * {
    float:left;
}

.renewSelect .symbol{
    float: right;    
    margin-left: 15px;
}

.renewSelect ul{
    display: none; 

    box-sizing: border-box;

    z-index: 9999;
    position: absolute;
    right: 0;
    top: 0;

    width:100%;  
    height:auto;
    
    padding: 0;
    margin: 0;
    list-style: none; 

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.renewSelect ul ul {
    position: absolute;
    top: 0;
    left: 100%;

    padding: 0;
    margin: -1px 0 0;
}

.renewSelect ul > li:hover > ul {
    display: block;
}

.renewSelect li:first-child {
    border-top-right-radius: 2.5px;
    border-top-left-radius: 2.5px;
}

.renewSelect li:last-child {
    border-bottom-right-radius: 2.5px;
    border-bottom-left-radius: 2.5px;
}

.buttonGroup > .renewSelect:not(:first-child):not(:last-child) > ul, 
.buttonGroup > :not(:first-child):not(:last-child) .renewSelect > ul {
    border-radius: 0;
} 
.buttonGroup > .renewSelect:first-child > ul, 
.buttonGroup > :first-child .renewSelect > ul {
    border-top-right-radius: 0; 
} 
.buttonGroup > .renewSelect:last-child >ul, 
.buttonGroup > :last-child .renewSelect > ul {
    border-top-left-radius: 0; 
}

.renewSelect:hover > ul {
    display: block;
}

.renewSelect > ul a{
    display: block;
    
    color: black;
    text-decoration: none;

    overflow: hidden; 
    text-overflow: ellipsis; 
    white-space: nowrap; 
    
    min-height: 30px;
    padding: 0 12px;
    line-height: 28px;
    font-size: 1rem;  
}

.renewSelect li {
    position: relative;
}
 
.renewSelect li:hover { background: #999; }  
.renewSelect li:hover > a { color: #fff; }

.renewSelect li.chosenOption {
    text-decoration: none;
    background: linear-gradient(to bottom, #08c, #0077b3); 
}
 
.renewSelect ul > li.chosenOption > a {
    color: #fff;
}

.renewSelect.smallSize > ul a,
.renewSelect.smallSize .renewButton {    
    min-height: 25px;
    padding: 0 10px;
    line-height: 23px;
    font-size: 12px;
}

.renewSelect.largeSize > ul a,
.renewSelect.largeSize .renewButton {
    min-height: 40px;
    padding: 0 15px;
    line-height: 38px;
    font-size: 16px; 
} 

.renewSelect.showPrimary .renewButton {
    background-color: #009dd8;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #00b4f5, #008dc5);
    background-image: linear-gradient(to bottom, #00b4f5, #008dc5);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}

.renewSelect.showPrimary .renewButton:hover,
.renewSelect.showPrimary .renewButton:focus {
    background-color: #00aff2;
    color: #ffffff;
    background-image: none;
}

.renewSelect.showPrimary .renewButton:active,
.renewSelect.showPrimary .renewButton.buttonPressed {
    background-color: #008abf;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.renewSelect.showSuccess .renewButton {
    background-color: #82bb42;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #9fd256, #6fac34);
    background-image: linear-gradient(to bottom, #9fd256, #6fac34);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.renewSelect.showSuccess .renewButton:hover,
.renewSelect.showSuccess .renewButton:focus {
    background-color: #8fce48;
    color: #ffffff;
    background-image: none;
}
.renewSelect.showSuccess .renewButton:active,
.renewSelect.showSuccess .renewButton.buttonPressed {
    background-color: #76b430;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}


.renewSelect.showError .renewButton {
    background-color: #d32c46;
    color: #ffffff;
    background-image: -webkit-linear-gradient(top, #ee465a, #c11a39);
    background-image: linear-gradient(to bottom, #ee465a, #c11a39);
    border-color: rgba(0, 0, 0, 0.2);
    border-bottom-color: rgba(0, 0, 0, 0.4);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
}
.renewSelect.showError .renewButton:hover,
.renewSelect.showError .renewButton:focus {
    background-color: #e33551;
    color: #ffffff;
    background-image: none;
}
.renewSelect.showError .renewButton:active,
.renewSelect.showError .renewButton.buttonPressed {
    background-color: #c91c37;
    color: #ffffff;
    background-image: none;
    border-color: rgba(0, 0, 0, 0.2);
    border-top-color: rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.2);
}

.clearFix:before, 
.clearFix:after{
    content: " ";
    display:table
}
.clearFix:after{
    clear:both
}